@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    background: rgb(21, 0, 34);
}

p{
    font-size: 2rem;
    color: whitesmoke;
}

.luzNeon{
    text-shadow: 0 0 1px whitesmoke,
    0 0 6px whitesmoke,
    0 0 16px whitesmoke,
    0 0 26px whitesmoke;
}