@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: azure;
}

#imgBg{
    background-image: url(../img/vidrio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.box{
    background: rgb( 5, 7, 12, 0.40);
}